.deleteSelected {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 2;
}
.count {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 575px) {
  .topButtons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin: 10px 0;
  }
}
