div.fill {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.contactPageTitle {
  margin-bottom: 5vh;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: 500;
}
.textInput,
.message {
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 500px;
}
.submit {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  max-width: 100px;
}
.errorMessage {
  color: red;
  background-color: #c3babaad;
  width: fit-content;
  padding: 2px 4px;
}
.invalid {
  border: 1px solid #f00;
}
